/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

#digital-clock {
    background-color: #089f9f;
    margin: auto;
    padding: 10px;
    font-family: Orbitron;
    font-size: 64px;
    text-align: left;
    color: white;
    letter-spacing: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#current-date {
    background-color: #089f9f;
    margin: auto;
    padding: 10px;
    font-family: Orbitron;
    font-size: 64px;
    text-align: left;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
